<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @announcement.title %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @announcement.sport_id %>
</p>

<%= link_to 'Edit', edit_sport_announcement_path(@sport,@announcement) %> |
<%= link_to 'Back', sport_announcement_path(@announcement) %>
