<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table class="table table-hover" border="1" id="playerTable">
  <thead class="table-dark">
    <tr>
      <th>Comment no</th>
      <th>User comment</th>
      <th>Post</th>
     
    </tr>
  </thead>

   <tbody class="table-warning">
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment_no %></td>
        <td><%= comment.user_comment %></td>
        <td><%= comment.post_title %></td>
        <%= link_to 'Show', comment %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
