<p id="notice"><%= notice %></p>

<p>
  <strong>Comment no:</strong>
  <%= @comment.comment_no %>
</p>

<p>
  <strong>User comment:</strong>
  <%= @comment.user_comment %>
</p>

<%= render partial: "tags/tags", locals: {tagable: @comment} %>
<%= render partial: "tags/form", locals: {tagable: @comment} %>
<%= link_to 'Edit', edit_post_comment_path(@post, @comment) %> |
<%= link_to 'Back', post_comments_path(@post) %>
