<%= form_with(model: sport, local: true) do |form| %>
  <% if sport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sport.errors.count, "error") %> prohibited this sport from being saved:</h2>

      <ul>
      <% sport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row g-2 bg-light">
  <div class="col-sm-2 mt-3" >
   <%= form.label "Sport:" %>
   </div>
   <div class="col-sm-9">
  <div class="field form-group">
   
    <%= form.text_field :sport_name, class:"form-control" %>
  </div>
  </div>
  <div class="row g-2 bg-light">
  <div class="col-sm-2 mt-3" >
    <%= form.label "Players:" %>
    </div>
    <div class="col-sm-9">
  <div class="field form-group">
    
    <%= form.text_field :no_of_players, class:"form-control" %>
  </div>
  </div>


  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
