<p id="notice"><%= notice %></p>

<h1>Sports</h1>

<table class="table table-hover" border="1" id="playerTable">
  <thead class="table-dark">
    <tr>
      <th>Sport name</th>
      <th>No of Players</th>
      
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody class="table-warning">
    <% @sports.each do |sport| %>
      <tr>
        <td><%= sport.sport_name %></td>
        <td><%= sport.no_of_players %></td>
       
        <td><%= link_to 'Show', sport %></td>
         <% if current_user && current_user.admin? %> 
        <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
        <td><%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sport', new_sport_path %>
