
<% if current_user %>
    <p> <%= current_user.name %></p>
    <% if current_user.admin? %>
    <p> Hello Admin 
    <br />

       There are  <%= User.count %> users in system.
       <% else %>
       <p>Hello Player
       <br />
      
        There are  <%= User.count %> users in system.
       </p>
       
    <% end %>
    
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% else %>
<br>
    <p>You are not signed in..</p>
    <br>
    <%= link_to "Sign Up!", new_user_registration_path %><br/>
    <%= link_to "Sign In", new_user_session_path %><br/>
    <p>
    You have sucessfully authenticate with your user account.
    </p>
<% end %>


