<%= form_with(model: post_attachment, local: true) do |form| %>
  <% if post_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_attachment.errors.count, "error") %> prohibited this post_attachment from being saved:</h2>

      <ul>
      <% post_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row g-2">
  <div class="col-sm-2 mt-3">
  <%= form.label "Sports:" %>
  </div>
  <div class="col-sm-9">
  <div class="field">
  <%= form.collection_select(:post_id, Post.all, :id, :title, { :prompt => 'Select a Post', :selected => @post_attachment.post_id }, { class: 'form-control' }) %>
  </div>
  </div>
  
</div>
 <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar , :multiple => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
