<%= form_with(model: post_attachment, local: true) do |form| %>
  <% if post_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post_attachment.errors.count, "error") %> prohibited this post_attachment from being saved:</h2>

      <ul>
      <% post_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row g-2">
  <div class="col-sm-2 mt-3">
  <%= form.label "post:" %>
  </div>
  <div class="col-sm-9">
  <div class="field">
  <%= form.collection_select(:post_id, Post.where(:user_id => current_user.id), :id, :title, { :prompt => 'Select a Post', :selected => @post_attachment.post_id }, { class: 'form-control' }) %>
  </div>
  </div>
  <div class="row g-2">
  <div class="col-sm-2 mt-3">
  
  </div>
  <div class="col-sm-9">
  <div class="field form-group">
    
    <%= form.number_field :user_id, id: :post_attachment_user_id, class:"form-control", value:current_user.id, type: :hidden  %>
  </div>
  
  </div>
</div>
 <%= form.fields_for :post_attachments do |p| %>
        
         <div class="row g-2 bg-light">
  <div class="col-sm-2 mt-3" >
           <%= p.label "Images" %><br>
           </div>
            <div class="col-sm-9">
            <div class="field">
           <%= p.file_field :avatar, :multiple => true, name:     "post_attachments[avatar][]" %>
         </div>
         </div>
         </div>
       <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
