<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post_attachment.post_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <img src="<%= @post_attachment.avatar %>" class="player-show">
</p>
<% if current_user.id == PostAttachment.where(:user_id => current_user.id) || current_user.admin?  %>
<%= link_to 'Edit', edit_post_attachment_path(@post_attachment) %> 
<% end %>|
<%= link_to 'Back', post_attachments_path %>
