<p id="notice"><%= notice %></p>



<table class="table player table-hover mt-5" border="1" id="playerTable">
  <thead>
    <tr>
    <th>Player name</th>
    <th>Email</th>
     <th>Image</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Tag List</th>
     
      <th>Gender</th>
      <th>Sport</th>
      <th>Show</th>
     
      
      <th>Edit</th>
      
    
      <th>Destroy</th>
     
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
       <td><%= player.name %></td>
       
       <td><%= player.email %></td>
      
       <td><img src="<%= player.image %>" class="player-show"></td>
        <td><%= player.city %></td>
        <td><%= player.state %></td>
        <td><%= player.country %></td>
        <td><%= player.tag_list %></td>
        
        <td><%= player.gender %></td>
         <td><%= player.sport.name %></td>
       
        <td><%= link_to 'Show Sport', [@sport,player] %></td>
         
        <td><%= link_to 'Edit Player', edit_sport_player_path(@sport, player) %></td>
        <td><%= link_to 'Destroy Player', [@sport, player], method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_player' %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <div id="new-player">
<%= link_to 'New Player', new_sport_player_path(@sport) ,remote: true%>
</div>


