
<%= form_with(model: post, :html => { :multipart => true },local: true ) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row g-2 bg-light">
  <div class="col-sm-2 mt-3" >
   <%= form.label "Title:" %>
   </div>
   <div class="col-sm-9">
  <div class="field form-group">
    
    <%= form.text_field :title, class:"form-control" %>
  </div>
  </div>
<div class="row g-2 bg-light">
  <div class="col-sm-2 mt-3" >
  <%= form.label "Description:" %>
  </div>
   <div class="col-sm-9">
  <div class="field form-group">
   
    <%= form.text_area :description, class:"form-control" %>
  </div>
  </div>

  
 
       <%= form.fields_for :post_attachments do |p| %>
        
         <div class="row g-2 bg-light">
  <div class="col-sm-2 mt-3" >
           <%= p.label "Images" %><br>
           </div>
            <div class="col-sm-9">
            <div class="field">
           <%= p.file_field :avatar, :multiple => true, name:     "post_attachments[avatar][]" %>
         </div>
         </div>
         </div>
       <% end %>
       
  <div class="row g-2">
  <div class="col-sm-2 mt-3">
  
  </div>
  <div class="col-sm-9">
  <div class="field form-group">
    
    <%= form.number_field :user_id, id: :post_user_id, class:"form-control", value:current_user.id, type: :hidden  %>
  </div>
  
  </div>
  <div class="row g-2 bg-light">
  <div class="col-sm-2 mt-3" >
  <%= form.label "Sport" %>
  </div>
  <div class="col-sm-9">
  <div class="field form-group">
    
  <%= form.collection_select(:sport_id, Sport.all, :id, :name, { :prompt => 'Select a Sport', :selected => @post.sport_id }, { class: 'form-control' }) %>
  </div>
  </div>
</div>
  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
