<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
<p>
  <strong>Sport:</strong>
  <%= @post.sport_id %>
</p>
<p>
  <strong>Player:</strong>
  <%= @post.user.email %>
</p>
<%= link_to 'Post Images', post_attachments_path(@post_attachments) %>
<br>

<h2>Comments</h2>
<% for comment in @post.comments %>
    <ul>
      <li><%= comment.user_comment %></li>
  </ul>
<% end %>
 <%= render partial: "tags/tags", locals: {tagable: @post} %>
 <%= render partial: "tags/form", locals: {tagable: @post} %> 
<%= link_to 'Edit', edit_sport_post_path(@sport, @post) %> |
<%= link_to 'Add Comment', post_comments_path(@post) %>|
<%= link_to 'Back', sport_posts_path(@sport) %>
