<p id="notice"><%= notice %></p>

<p>
  <strong>Award:</strong>
  <%= @achievement.award %>
</p>

<p>
  <strong>Gold medal:</strong>
  <%= @achievement.gold_medal %>
</p>

<p>
  <strong>Silver medal:</strong>
  <%= @achievement.silver_medal %>
</p>

<p>
  <strong>Bronze medal:</strong>
  <%= @achievement.bronze_medal %>
</p>

<p>
  <strong>Status:</strong>
  
  <%= @achievement.status %>
</p>
<p>
  <strong>Player:</strong>
  
  <%= @achievement.user.email %>
</p>
 <% if current_user.id == @achievement.user_id  || current_user.admin?  %>
<%= link_to 'Edit', edit_achievement_path(@achievement) %>
<% end %> |
<%= link_to 'Back', achievements_path %>
